body {
    padding-top: 5rem;
}

.upper{
  background-color: lightgreen;
}

.img-circle{
  border-radius:50%;
}

.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center{
  text-align: center;
}

.posts{
  display: inline-block;
  padding-right: 50px;
}
.postsp{
  display: inline-block;
  padding-right: 30px;
}
